.d-md-flex {
  flex-direction: row-reverse !important;
}

#hide {
  box-shadow: none !important;
}
.hero .contact-us {
  box-shadow: none;
}
.hero .contact-us form {
  box-shadow: black 0px 0px 5px;
}

@media screen and (max-width: 768px) {
  .d-md-flex {
    justify-content: center;
    align-items: center;
  }

  #document {
    width: 400px;
  }
}
